.text-field {
  position: relative;
}

input {
  border: none;
  border-bottom: 2px solid black;
  font-size: 1rem;
  outline: none;
}

input:focus-visible {
  border-color: royalblue;
}

label {
  position: absolute;
  left: 2px;
  transition: .2s;
  color: slategray;
  pointer-events: none;
}

input:focus + label,
input:not(:placeholder-shown) + label { /* Когда input в фокусе, тогда идущий за ним элемент label... */
  transform: translateY(-1.5rem);
  font-size: 0.8rem;
  color: darkslategray;
}

input::placeholder {
  opacity: 0;
}